<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
</head>
<body>
<h2>Пользователи:</h2>
<ul>
    <li th:each="user : ${users}">
        <span th:text="|${user.firstName} ${user.lastName}, email: ${user.email}|"></span>
        <form th:action="@{/deleteUser}" method="post" style="display:inline;">
            <input type="hidden" name="id" th:value="${user.id}" />
            <button type="submit">Удалить</button>
        </form>
        <form th:action="@{/editUser}" method="get" style="display:inline;">
            <input type="hidden" name="id" th:value="${user.id}" />
            <button type="submit">Изменить</button>
        </form>
    </li>
</ul>

<h2>Добавить нового пользователя:</h2>
<form action="#" th:action="@{/addUser}" method="post">
    <input type="text" name="firstName" placeholder="Имя" required />
    <input type="text" name="lastName" placeholder="Фамилия" required />
    <input type="email" name="email" placeholder="Email" required />
    <button type="submit">Добавить</button>
</form>
</body>
</html>

   
